.text {
  margin-bottom: 18px;
  margin-top: 27px;
  font-size: 10px;
  align-self: flex-start;
  color: var(--white);
  position: relative;
  align-self: center;
}

header > img {
  animation: myAnim 1s ease 0s 1 normal forwards;
}
@keyframes myAnim {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
